<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs') %>
</head>

<body>
    <h1 class="display-1 text-center">
        <%=anime.name%>
    </h1>
    <div class="text-center"><a href="/anime/<%=anime._id%>/edit"><button class="btn btn-primary col-4">Edit This
                anime</button></a></div>
    <div class="bg-image hover-zoom">
        <img src="<%=anime.image%>" alt="Picture of <%=anime.name%>"
            class="img-thumbnail animePicture rounded ">
    </div>
        <div class="comic text-center">
            <h4>Where to watch</h4>
            <ul class="list-group">
                    <li class="list-group-item mb-1">
                        <a href="/anime/search/url/<%=anime.url%>">
                            <%=anime.url%>
                        </a>
                    </li>
                    
            </ul>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="/anime"><button class="btn btn-primary col-4">Back</button></a>
    </div>
    <div class="text-center mt-4 mb-4">
        <form action="/anime/<%=anime._id%>?_method=DELETE" method="POST"><input class="btn btn-danger col-5"
                type="submit" value="Delete This Anime">
        </form>
    </div>
    </form>
</body>
<%console.log(anime)%>

</html>